@inherits LayoutComponentBase

<div class="app-shell">
    <NavMenu />

    <main class="app-shellmain">
        <article class="app-shellcontent">
            @Body
        </article>
    </main>
</div>